@{
    ViewData["Title"] = "Register as doctor";
}

<div class="container-fluid" id="doctor-reg">
    <div class="container d-flex justify-content-end">
        <div class="row" id="signup">
            <div class="col-10 mt-4 mx-auto signup">
                <h2 class="h2 mt-4">SIGN UP</h2>
                <div class="form-group mt-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1" style="border-color:#012970;">
                            <i class="fa fa-user"
                               style="color: #012970"></i>
                        </span>
                        <input type="text" class="form-control" placeholder="Username" style="border-color:#012970;"
                               aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1" style="border-color:#012970;">
                            <i class="fa fa-lock"
                               style="color: #012970"></i>
                        </span>
                        <input type="text" class="form-control" placeholder="Password" style="border-color:#012970;"
                               aria-label="Password" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1" style="border-color:#012970;">
                            <i class="fa fa-lock"
                               style="color: #012970"></i>
                        </span>
                        <input type="text" class="form-control" placeholder="Retype Password" style="border-color:#012970;"
                               aria-label="Password" aria-describedby="basic-addon1">
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1" style="border-color:#012970;">
                                    <i class="fa fa-user-tie" style="color: #012970"></i>
                                </span>
                                <input type="text" class="form-control" placeholder="Firstname" style="border-color:#012970;"
                                       aria-label="Password" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1" style="border-color:#012970;">
                                    <i class="fa fa-user-tie" style="color: #012970"></i>
                                </span>
                                <input type="text" class="form-control" placeholder="Lastname" style="border-color:#012970;"
                                       aria-label="Password" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1" style="border-color:#012970;">
                                <i class="fa fa-transgender" style="color: #012970"></i>
                            </span>
                            <select name="cars" id="cars" class="form-control" style="border-color:#012970;" required>
                                <option value="female">Female</option>
                                <option value="male">Male</option>
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1" style="border-color:#012970;">
                                <i class="fa fa-mail-bulk" style="color: #012970"></i>
                            </span>
                            <input type="text" class="form-control" placeholder="Mail" style="border-color:#012970;"
                                   aria-label="Password" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1" style="border-color:#012970;">
                                <i class="fa fa-medkit"
                                   style="color: #012970"></i>
                            </span>
                            <input type="text" class="form-control" placeholder="Specialization" style="border-color:#012970;"
                                   aria-label="Password" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1" style="border-color:#012970;">
                                <i class="fa fa-image"
                                   style="color: #012970"></i>
                            </span>
                            <input type="file" class="form-control" placeholder="Image" accept="image/png, image/jpeg"
                                   style="border-color:#012970;" aria-label="Password" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <input type="submit" class="form-control" name="Submit" style="background-color:#012970;color:#ffffff"
                                   aria-label="Password" aria-describedby="basic-addon1">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>